a {
    color: black;
    text-decoration: none;
}
.container {
    max-width: 1160px;
    padding: 0 40px;
    margin: 0 auto;
}

/* body {
    font-family: "M PLUS Rounded 1c", sans-serif;
} */

/* ヘッダー */
/* header {
    width: 100%;
    position: absolute;
    margin: 0  0 auto;
    left: 0;
}
header > .container {
    display: flex;
    height: 100px;
    align-items: center;
    max-width: none;
    padding: 0 60px;
}

/* ヘッダーナビ */
/* .nav_header {
    text-align: center;
} */
.list_nav_header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list_nav_header > li {
    padding: 15px 15px;
    list-style: none;
}
.list_nav_header a {
    font: 500 18px/1em 'M PLUS Rounded 1c', sans-serif;
} 

/* imgはvertical-align: bottom;を指定しないと下に余白ができることがある */

.area_top_view {
    background: url(img/tunafish-stEAITFInf8-unsplash.jpg) bottom center no-repeat;
    /* background-sizeをcoverにすると画像が広がった状態で表示される。 */
    background-size: cover;
    
}

.area_top_view > .container {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

/* ロゴタイトル */
h1 {
    padding-top: 100px;
    color: #000;
    line-height: 1;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 90px;
}

/* 見出し */
h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

p.discr {
    text-align: center;
    margin: 0 auto;
}
.list_item {
    list-style: none;
    /* padding: 20px 20px; */
}

/* アプリの名前 */
.body_home .title {
    text-align: center;
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}

/* 言語の破線 */
.skill_home .title {
    text-align: center;
    color: #160b6c;
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #160b6c;
}

.body_home {
    text-align: center;
}

.area_contact {
    padding-bottom: 30px;
}

/* 画像表示 */
.list_item img {
    width: 400px;
    height: 30%;
    background-size: cover;
}
